.back{
    margin: 2rem;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.list{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
}
table {
    width: 100%;
  }

.text{
    font-family: 'Montserrat', sans-serif;
}
.text-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
  
.mat-mdc-row:hover .mat-mdc-cell {
border-color: currentColor;
}

.demo-row-is-clicked {
font-weight: bold;
}
.icons{
    border-radius: 0.2rem;
}
.icons:hover{
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
}
.icons:active{
    transform: scale(0.98);        
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.add-icon{
    transform: scale(2);
}
.icon-div{
    display: flex;
    margin: 2rem 2rem;
}
.add-icon:hover{
    transform: scale(2.05);
}
.add-icon:active{
    transform: scale(1.95);   
    border-radius: 100%;     
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.new-user-row{
    display: flex;
    justify-content: space-between;
}
.form-div{
    display: flex;
    padding: 2rem;
}