<div class="back">
    <H1 class="text-title">Users</H1>
    <div class="main-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th class="text" mat-header-cell *matHeaderCellDef> Id </th>
                <td class="text" mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="first_name">
                <th class="text" mat-header-cell *matHeaderCellDef> Fisrt Name </th>
                <td class="text" mat-cell *matCellDef="let element"> 
                    <p *ngIf="!editing || element.id != editingId">{{element.first_name}} </p>
                    <input class="input-style" *ngIf="editing && element.id == editingId" placeholder="element.first_name" name="first_name" [(ngModel)]="editing_first_name" >
                </td>
            </ng-container>

            <ng-container matColumnDef="last_name">
                <th class="text" mat-header-cell *matHeaderCellDef> Last Name </th>
                <td class="text" mat-cell *matCellDef="let element"> 
                    <p *ngIf="!editing || element.id != editingId">{{element.last_name}} </p>
                    <input class="input-style" *ngIf="editing && element.id == editingId" placeholder="element.last_name" name="last_name" [(ngModel)]="editing_last_name" >
                </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th class="text" mat-header-cell *matHeaderCellDef> Userame </th>
                <td class="text" mat-cell *matCellDef="let element">
                    <p *ngIf="!editing || element.id != editingId">{{element.username}} </p>
                    <input class="input-style" *ngIf="editing && element.id == editingId" placeholder="Name" name="username" [(ngModel)]="editingusername" > 
                </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th class="text" mat-header-cell *matHeaderCellDef> Created-At </th>
                <td class="text" mat-cell *matCellDef="let element"> {{element.created_at}} </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th class="text" mat-header-cell *matHeaderCellDef> Edit </th>
                <td class="text" mat-cell *matCellDef="let element"> 
                    <mat-icon *ngIf="!editing || element.id != editingId" (click)="editUser(element.id, element.first_name, element.last_name, element.username)"  class="icons" fontIcon="edit">edit</mat-icon>
                    <mat-icon *ngIf="editing && element.id == editingId" (click)="editUser(element.id, element.first_name, element.last_name, element.username)"  class="icons" fontIcon="cancel">cancel</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th class="text" mat-header-cell *matHeaderCellDef> Delete </th>
                <td class="text" mat-cell *matCellDef="let element"> 
                    <mat-icon *ngIf="!editing || element.id != editingId" (click)="deleteOnClick(element.id)"  class="icons" fontIcon="delete_outline">delete_outline</mat-icon>
                    <mat-icon *ngIf="editing && element.id == editingId" (click)="editAddUser(element.id, element.name, element.username)"  class="icons" fontIcon="add_circle">add_circle</mat-icon>
                     
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="new-user-row">
            <form #userlogin = "ngForm" class="form-div">
                <input placeholder="First Name" name="first_name" [(ngModel)]="first_name" >
                <input placeholder="Last Name" name="last_name" [(ngModel)]="last_name" >
                <input placeholder="Username" name="username" [(ngModel)]="username">
                <input placeholder="Password" name="password" [(ngModel)]="password">
            </form>
            <div class="icon-div">
                <mat-icon class="add-icon" (click)="submit()">add_circle</mat-icon>
            </div>
        </div>
    </div>
</div>